:root {
  --button: #e44848;
  --main: #101828;
  --inputs: #f7f7f7;
  --block-features: #f2f4f7;
  --rating: #ffc531;
  --text: #475467;
}

::-webkit-scrollbar {
  width: 8px;
  margin-block: 1.45em;

}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  margin-block: 1.45em;

}


::-webkit-scrollbar-button {
  display: none;
  margin-block: 1.45em;

}

.idBBdE::-webkit-scrollbar-track {
  margin-block: 1.45em;
}